@{
    ViewData["Title"] = "Privacy Policy";
}

<main>
    <section class="container">
        <h1>Privacy Policy</h1>
        <p>
            Welcome to our Zoo website. This Privacy Policy explains how we collect, use, and disclose your personal information when you visit our website.
        </p>
        <h2>Information We Collect</h2>
        <p>
            When you visit our website, we may collect certain information about you, such as your IP address, browser type, operating system, and browsing activity. We may also collect information you provide voluntarily through contact forms or email sign-ups.
        </p>
        <h2>How We Use Your Information</h2>
        <p>
            We use the information we collect to improve our website's functionality, personalize your experience, respond to your inquiries, and send you updates or promotional materials if you have opted to receive them.
        </p>
        <h2>Disclosure of Your Information</h2>
        <p>
            We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share your information with trusted third parties who assist us in operating our website or providing services to you.
        </p>
        <h2>Security</h2>
        <p>
            We take reasonable precautions to protect your information from unauthorized access, misuse, or disclosure. However, please note that no data transmission over the internet is completely secure, and we cannot guarantee the security of your information.
        </p>
        <h2>Changes to this Privacy Policy</h2>
        <p>
            We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the effective date will be updated accordingly.
        </p>
        <h2>Contact Us</h2>
        <p>
            If you have any questions or concerns about this Privacy Policy, please contact us using the contact information provided on our website.
        </p>
    </section>
</main>