@{
	ViewData["Title"] = "show";
	var ajaxURL = ViewData["Url"];

}

@section Styles{
	<link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
	<link rel="stylesheet" href="//cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">

}



<h1>Comments Table</h1>
<div>
	<table id="commentTable" class="order-column hover table" style="width:100%">

		<thead>
			<tr>
				<th>Username</th>
				<th>Date</th>
				<th>Animal Name</th>
				<th>Text</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

@section Scripts{
	<script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
	<script src="//cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
	<script src="//cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
	<script>const API_URL = "@ajaxURL"</script>
	<script src="~/js/comment/table.js"></script>
}
