<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ZooWeb</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Animal" asp-action="Cards" asp-route-pageNumber="1">Animals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
					</li>
					@if (User.IsInRole(Roles.Admin))
					{
						<li class="nav-item dropdown">
							<a class="text-dark nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Tables
							</a>
							<ul class="dropdown-menu">
								<a class="dropdown-item text-dark" asp-area="" asp-controller="Animal" asp-action="Table">Animals</a>
								<a class="dropdown-item text-dark" asp-area="" asp-controller="Category" asp-action="Table">Categories</a>
								<a class="dropdown-item text-dark" asp-area="" asp-controller="Comment" asp-action="Table">Comments</a>
							</ul>
						</li>
					}
				</ul>
				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>
</header>
